@font-face {
    font-family: "Poppins";
    src: url(https://fonts.googleapis.com/css?family=Poppins&display=swap) format("stylesheet");
}
.title{
  position: fixed;
  height: 60px;
  left: 0%;
  right: 0%;
  top: -25px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  text-align: center;

  color: #000000;
  background-color: #F4F4F4;
}
.semiTitle{
  position: absolute;
  width: 300px;
  height: 35px;
  left: 30px;
  top: 60px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  color: #353535;
}
.weekdays{
  position: absolute;
  height: 430px;
  left: 5%;
  right: 5%;
  top: 121px;
}
.cellContainer{
  height: 70px;
}
.bigCellContainer{
  height: 80px;
}
.titleDay{
  position: absolute;
  width: 300px;
  height: 66px;
  left: 100%;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;

  color: #353535;
  background: #F1F1F1;
  border-radius: 7px;
}
.bottom{
  position: fixed;
  height: 71px;
  left: 0%;
  right: 0%;
  bottom: -30px;

  background: #EFEFEF;
}
.addReciepie{
  position: absolute;
  width: 300px;
  height: 66px;
  left: 100%;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;

  color: #353535;
  background: #F1F1F1;
  border-radius: 7px;
}
